@import '~antd/dist/antd.variable.css';

.mas-data-mapping-slot-multiple.mas-data-mapping-slot-active {
  background-color: var(--ant-primary-color-active);
  border-color: var(--ant-primary-color-active);
}

.mas-data-mapping-slot-multiple.mas-data-mapping-slot-droppable {
  background-color: var(--ant-primary-color-hover);
}

.mas-data-mapping-slot-single.mas-data-mapping-slot-active {
  background-color: var(--ant-success-color-active);
  border-color: var(--ant-success-color-active);
}

.mas-data-mapping-slot-single.mas-data-mapping-slot-droppable {
  background-color: var(--ant-success-color-hover);
}

.mas-data-mapping-slot-active {
  border-style: dashed;
  border-width: 4px;
}
